<form class="initiative_manager">
    {{#if (eq this.stage "stage_1") }}
    <!-- card selection -->
    <h2>Card Selection</h2>
    {{#if this.is_gm }}{{else}}
    <div>
        <h3>Available Cards</h3>
        <div class="combat_available_cards_container">
            {{#each this.available_cards as |card|}}
            <div class="combat_available_card">
                {{{ card.html }}}
                <br>
                <b>Action Order: {{ card.system.action_order }}</b>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    <table>
        <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Card Selected
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.selected_cards as |card|}}
        <tr>
            <td>
                {{ card.name }}
            </td>
            <td>
                {{#if card.is_me }}
                <select class="card_selection">
                    {{#select card.selected_card.id }}
                    <option value="not_selected">select a card...</option>
                    {{#each ../this.available_cards as |option|}}
                    <option value="{{ option.id }}" data-action-order="{{ option.system.action_order }}">
                        {{ option.name }} ({{ option.system.action_order }})
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
                {{ else }}
                {{#if card.is_selected}}
                {{ card.selected_card.name }}
                {{else}}
                (pending selection)
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{#if (eq this.stage "stage_2") }}
    <!-- actions / slot selection-->
    <h2>Slot Selection</h2>
    {{#if this.is_gm }}
    {{#if (lt this.slots.length 11)}}
    <button type="button" class="initiative_next" title="Allow Troubleshooters to claim the next initiative slot">
        <i class="fas fa-plus fa-fw"></i>Next Slot
    </button>
    {{/if}}
    {{else}}
    {{#each this.selected_cards as |card|}}
    {{#if card.is_me }}{{#if card.is_selected }}
    Selected card: <span class="stage_2_selected_card" data-action-order="{{ card.selected_card.action_order }}" data-card-id="{{ card.selected_card.id }}">{{ card.selected_card.name }}</span>
    {{/if}}{{/if}}
    {{/each}}
    {{/if}}
    <table>
        <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Selection
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.slots as |slot|}}
        <tr>
            <td>
                {{ math 10 "-" @index }}
            </td>
            <td class="initiative_slot">
                {{#if @last}}
                    {{#if slot.contains_me }}{{else}}
                        {{#if ../this.gone_this_round}}{{else}}
                            {{#if ../this.is_gm }}{{else}}
                                &nbsp;<button type="button" class="initiative_select" title="Select this slot for your initiative">
                                    <i class="fas fa-plus fa-fw"></i>me!
                                </button>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if slot.actors }}
                    {{#each slot.actors as |actor|}}
                        <div class="initiative_someone">{{ actor.player_name }}</div>
                        {{#if actor.challenged }} {{else}}
                            {{#if../../this.challenged_this_round }} {{else}}
                                {{#if (eq actor.player_id ../../this.my_id) }} {{else}}
                                    {{#if @../last}}
                                        {{#if ../../this.is_gm }} {{ else }}
                                            &nbsp;<button type="button" class="challenge_initiative" data-player-id="{{ actor.player_id }}"
                                                    data-slot="{{ @../index }}" title="Challenge this player's initiative. Usable once per round.">
                                                <i class="fas fa-plus fa-fw"></i>challenge
                                            </button>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    <div class="initiative_no_one">(no one)</div>
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
    {{#if this.is_gm }}
    <div class="initiative_button_container">
        <button type="button" class="progress_combat" data-action="progress" title="Move Troubleshooters to the next combat phase">
            <i class="fas fa-plus fa-fw"></i>Next Combat Phase
        </button>
    </div>
    {{/if}}
</form>
