<form>
    {{#if (eq this.stage "stage_1") }}
    <!-- card selection -->
    <h2>Card Selection</h2>
    {{#if this.is_gm }}
    <div>
        <button type="button" class="countdown_control" data-action="start" title="Add Mod">
            <i class="fas fa-plus fa-fw"></i>Start Countdown
        </button>
        <button type="button" class="countdown_control" data-action="stop" title="Add Mod">
            <i class="fas fa-plus fa-fw"></i>Stop Countdown
        </button>
    </div>
    {{else}}
    <div>
        <h3>Available Cards</h3>
        <div class="combat_available_cards_container">
            {{#each this.available_cards as |card|}}
            <div class="combat_available_card">
                {{{ card.html }}}
                <br>
                <b>Action Order: {{ card.system.action_order }}</b>
            </div>
            {{/each}}
        </div>
    </div>
    {{/if}}
    <table>
        <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Card Selected
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.selected_cards as |card|}}
        <tr>
            <td>
                {{ card.name }}
            </td>
            <td>
                {{#if card.is_me }}
                <select class="card_selection">
                    {{#select card.selected_card.id }}
                    <option value="not_selected">select a card...</option>
                    {{#each ../this.available_cards as |option|}}
                    <option value="{{ option.id }}" data-action-order="{{ option.system.action_order }}">
                        {{ option.name }} ({{ option.system.action_order }})
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
                {{ else }}
                {{#if card.is_selected}}
                {{ card.selected_card.name }}
                {{else}}
                (pending selection)
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    {{/if}}
    {{#if (eq this.stage "stage_2") }}
    <!-- actions / slot selection-->
    <h2>Slot Selection</h2>
    {{#if this.is_gm }}
    <button type="button" class="initiative_next" title="Add Mod">
        <i class="fas fa-plus fa-fw"></i>Progress Initiative
    </button>
    <button type="button" class="next_round" title="Add Mod">
        <i class="fas fa-plus fa-fw"></i>Next Round
    </button>
    {{else}}
    TODO: print the selected card (and initiative value) here
    {{/if}}
    <table>
        <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Selection
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.slots as |slot|}}
        <tr>
            <td>
                {{ math 10 "-" @index }}
            </td>
            <td>
                {{#if slot.actors }}
                {{#each slot.actors as |actor|}}
                {{ actor.player_name }}<br>
                {{#if actor.challenged }} {{else}}
                {{#if (eq actor.player_id ../../this.my_id) }} {{else}}
                {{#if @../last}}
                {{#if ../../this.is_gm }} {{ else }}
                <button type="button" class="challenge_initiative" data-player-id="{{ actor.player_id }}"
                        data-slot="{{ @../index }}" title="Add Mod">
                    <i class="fas fa-plus fa-fw"></i>challenge
                </button>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
                {{/each}}
                {{else}}
                (no one)
                {{/if}}
                {{#if @last}}
                {{#if slot.contains_me }}{{else}}{{#if ../this.gone_this_round}}{{else}}
                <button type="button" class="initiative_select" title="Add Mod">
                    <i class="fas fa-plus fa-fw"></i>me!
                </button>
                {{/if}}
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</form>
