<form>
    <b>Fixed header</b><br>
    header stuff here
    <hr>
    Management<br>
    <div>
        <button type="button" class="countdown_control" data-action="start" title="Add Mod">
            <i class="fas fa-plus fa-fw"></i>Start Countdown
        </button>
        <button type="button" class="countdown_control" data-action="stop" title="Add Mod">
            <i class="fas fa-plus fa-fw"></i>Stop Countdown
        </button>
    </div>
    <hr>
    Card Selection<br>
    <table>
        <thead>
        <tr>
            <th>
                Player
            </th>
            <th>
                Card Selected
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.selected_cards as |card|}}
        <tr>
            <td>
                {{ card.name }}
            </td>
            <td>
                {{#if card.is_me }}
                <select class="card_selection">
                    {{#select card.selected_card.id }}
                    <option value="not_selected">select a card...</option>
                    {{#each ../this.available_cards as |option|}}
                    <option value="{{ option.id }}" data-action-order="{{ option.system.action_order }}">{{ option.name
                        }} ({{ option.system.action_order }})
                    </option>
                    {{/each}}
                    {{/select}}
                </select>
                {{ else }}
                {{#if card.is_selected}}
                {{ card.selected_card.name }}
                {{else}}
                (pending selection)
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    Slot Selection<br>
    {{#if this.is_gm }}
    <button type="button" class="initiative_next" title="Add Mod">
        <i class="fas fa-plus fa-fw"></i>next slot
    </button>
    {{/if}}
    <table>
        <thead>
        <tr>
            <th>
                Initiative
            </th>
            <th>
                Selection
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each this.slots as |slot|}}
        <tr>
            <td>
                {{ math 10 "-" @index }}
            </td>
            <td>
                {{#if slot.actors }}
                    {{#each slot.actors as |actor|}}
                        {{ actor.player_name }}<br>
                        {{#if actor.challenged }} {{else}}
                            {{#if (eq actor.player_id ../../this.my_id) }} {{else}}
                            {{#if @../last}}
                            <button type="button" class="challenge_initiative" data-player-id="{{ actor.player_id }}" data-slot="{{ @../index }}" title="Add Mod">
                                <i class="fas fa-plus fa-fw"></i>challenge
                            </button>
                            {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/each}}
                {{else}}
                    (no one)
                {{/if}}
                {{#if @last}}
                {{#if slot.contains_me }}{{else}}{{#if ../this.gone_this_round}}{{else}}
                <button type="button" class="initiative_select" title="Add Mod">
                    <i class="fas fa-plus fa-fw"></i>me!
                </button>
                {{/if}}
                {{/if}}
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <hr>
    <br><br>
    <button type="submit">Save Changes</button>
</form>
