<form class="flexcol">
    <div class="form-group">
        <label for="exampleInput">Moxie Points to Spend</label>
        <input type="number" name="moxie_usage" value="{{msg}}" min="1" max="5">
    </div>
    <div class="form-group">
        <label for="exampleInput">What Do You Want To Do?</label>
        <input type="text" name="effect" value="{{msg}}">
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
</form>