<div class="paranoia-tooltip-content">
    {{#if dead_zone }}
    <h1 class="paranoia-tooltip-item title"><span>????</span></h1>
    <div class="paranoia-tooltip-items">
        {{ localize "paranoia.deadzone-nosignal" }}<br>
        {{ localize "paranoia.deadzone-xp_points" }}: ?<br>
        {{ localize "paranoia.deadzone-treason_stars" }}: ?
    </div>
    {{ else }}
    <h1 class="paranoia-tooltip-item title"><span>{{name}}</span></h1>
    <div class="paranoia-tooltip-items">
        {{ localize "paranoia.deadzone-xp_points" }}: {{ xp }}<br>
        {{ localize "paranoia.deadzone-treason_stars" }}: {{ treason_stars }}
    </div>
    {{/if}}
</div>
