<form class="{{ cssClass }} troubleshooter_sheet" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="core_information tim_flexbox">
            <img class="troubleshooter_identity_form" src=systems/paranoia/images/character_sheet/identity_form.png>
            <img class="troubleshooter_img" src="{{ actor.img }}" data-edit="img" title="{{ actor.name }}"/>
        </div>
    </header>
    <div id="triangle-right">
        <div class="troubleshooter_header">&nbsp;T&nbsp;H&nbsp;I&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;D&nbsp;O&nbsp;C&nbsp;U&nbsp;M&nbsp;E&nbsp;N&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;S&nbsp;&nbsp;&nbsp;&nbsp;<b>M&nbsp;A&nbsp;N&nbsp;D&nbsp;A&nbsp;T&nbsp;O&nbsp;R&nbsp;Y</b>
        </div>
    </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Overview</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="background">Background</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Tab content goes here --}}
        <div class="tab description" data-group="primary" data-tab="description">
            <div class="core_information">
                <div class="troubleshooter_section">
                    <div class="troubleshooter_section_header">
                        <i>///&nbsp;PART ONE&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    </div>
                    <div class="troubleshooter_section_name">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;CORE INFORMATION >>></b>
                    </div>
                </div>
                <section class="sheet-body ">
                    <div class="core_information flexbox">
                        <div class="core_information_details">
                            <label for="system.name"
                                   class="core_information_details-label troubleshooter_label">NAME:</label>
                            <div class="core_information_details-content">
                                <input type="text" class="troubleshooter_input" name="name" value="{{ actor.name }}"
                                       data-dtype="Text"/>
                            </div>
                        </div>
                        <div class="core_information_details">
                            <label for="system.security_clearance"
                                   class="core_information_details-label troubleshooter_label">CLEARANCE:</label>
                            <div class="core_information_details-content">
                                <select class="security_level" name="system.security_clearance">
                                    {{#each config.security_levels as |lvl|}}
                                    {{#if (eq ../actor.system.security_clearance lvl)}}
                                    <option value="{{ lvl }}" selected>{{ lvl }}</option>
                                    {{else}}
                                    <option value="{{ lvl }}">[REDACTED]</option>
                                    {{/if}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="core_information_details">
                            <label for="system.home_sector" class="core_information_details-label troubleshooter_label">HOME
                                SECTOR:</label>
                            <div class="core_information_details-content">
                                <input type="text" class="troubleshooter_input" name="system.home_sector"
                                       value="{{ actor.system.home_sector }}"
                                       data-dtype="Text"/>
                            </div>
                        </div>
                        <div class="core_information_details">
                            <label for="system.clone_number"
                                   class="core_information_details-label troubleshooter_label">CLONE #:</label>
                            <div class="core_information_details-content">
                                <input type="number" class="troubleshooter_input clone_input" name="system.clone_number"
                                       value="{{ actor.system.clone_number }}"
                                       data-dtype="Number"/>
                                &nbsp;<div class="of">of</div>&nbsp;
                                <input type="number" class="troubleshooter_input clone_input" name="system.clone_max"
                                       value="{{ actor.system.clone_max }}"
                                       data-dtype="Number"/>
                            </div>
                        </div>
                    </div>
                    <div class="core_information flexbox">
                        <div class="core_information_details">
                            <label for="system.gender" class="core_information_details-label troubleshooter_label">GENDER:</label>
                            <div class="core_information_details-content">
                                <input type="text" class="troubleshooter_input" name="system.gender"
                                       value="{{ actor.system.gender }}"
                                       data-dtype="Text"/>
                            </div>
                        </div>
                        <div class="core_information_details" style="flex-grow: 1;">
                            <label for="system.personality" class="core_information_details-label troubleshooter_label">PERSONALITY:</label>
                            <div class="core_information_details-content">
                                <input type="text" class="troubleshooter_input" name="system.personality"
                                       value="{{ actor.system.personality }}"
                                       data-dtype="Text"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="development_information">
                <div class="troubleshooter_section">
                    <div class="troubleshooter_section_header">
                        <i>///&nbsp;PART TWO&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    </div>
                    <div class="troubleshooter_section_name">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;DEVELOPMENT >>></b>
                    </div>
                </div>
                <section class="sheet-body">
                    <div class="development_information grid grid-2col">
                        <div class="development_information_details flexrow">
                            <label for="system.treason_stars.value" class="development_information_details-label">TREASON
                                STARS:</label>
                            <div class="development_information_details-content flexrow flex-center flex-between">
                                <!-- TODO: this removes from the actor data the "min" and "max" values for treason stars -->
                                <input type="number" name="system.treason_stars.value"
                                       value="{{ actor.system.treason_stars.value }}"
                                       data-dtype="Number" min="0" max="5"/>
                            </div>
                        </div>
                        <div class="development_information_details flexrow">
                            <label for="system.xp_points.value" class="development_information_details-label">XP
                                POINTS:</label>
                            <div class="development_information_details-content flexrow flex-center flex-between">
                                <input type="number" name="system.xp_points.value"
                                       value="{{ actor.system.xp_points.value }}"
                                       data-dtype="Number" min="0"/>
                            </div>
                        </div>
                    </div>
                </section>
                <b>STATS >>></b>
                <section class="sheet-body">
                    <div class="development_information grid grid-4col">
                        {{#each actor.system.stats as |stat|}}
                        <div class="development_information_details flexrow">
                            <label for="system.stats.{{ @key }}" class="development_information_details-label">{{ @key
                                }}:</label>
                            <div class="development_information_details-content flexrow flex-center flex-between">
                                <input type="number" name="system.stats.{{ @key }}.value"
                                       value="{{ stat.value }}"
                                       data-dtype="Number" min="0" max="4"/>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
            </div>
            <div class="skill_information">
                <div class="troubleshooter_section">
                    <div class="troubleshooter_section_header">
                        <i>///&nbsp;PART THREE&nbsp;&nbsp;</i>
                    </div>
                    <div class="troubleshooter_section_name">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;SKILLS >>></b>
                    </div>
                </div>
                <section class="sheet-body">
                    <div class="skill_information grid grid-4col">
                        {{#each actor.system.skills as |skill|}}
                        <div class="skill_information_details flexrow flex-group-center">
                            <label for="system.skills.{{ @key }}.value" class="skill_information_details-label"><a
                                    class="skill rollable" data-skill="{{ @key }}">{{ @key
                                }}</a></label>
                            <div class="skill_information_details-content">
                                <input type="number" name="system.skills.{{ @key }}.value"
                                       value="{{ skill.value }}"
                                       data-dtype="Number" min="-5" max="5"/>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </section>
            </div>
            <div class="wb_information">
                <div class="troubleshooter_section">
                    <div class="troubleshooter_section_header">
                        <i>///&nbsp;PART FOUR&nbsp;&nbsp;&nbsp;</i>
                    </div>
                    <div class="troubleshooter_section_name">
                        <b>&nbsp;&nbsp;&nbsp;&nbsp;WELLBEING >>></b>
                    </div>
                </div>
                <section class="sheet-body">
                    <div class="wb_information grid grid-2col">
                        <div class="wb_information_details flexrow flex-group-center">
                            <label for="system.moxie.value" class="wb_information_details-label">MOXIE:</label>
                            <div class="moxie_container">
                                <div class="wb_information_details-content">
                                    <input type="number" name="system.moxie.value"
                                           value="{{ actor.system.moxie.value }}"
                                           data-dtype="Number" min="0" max="8"/>
                                    &nbsp;<div class="of">of</div>&nbsp;
                                    <input type="number" name="system.moxie.current_max"
                                           value="{{ actor.system.moxie.current_max }}"
                                           data-dtype="Number" min="0" max="8"/>
                                </div>
                            </div>
                        </div>
                        <div class="wb_information_details flexrow flex-group-center">
                            <label for="system.wounds.value" class="wb_information_details-label">WOUNDS:</label>
                            <div class="wb_information_details-content">
                                <select name="system.wounds.value">
                                    {{#select actor.system.wounds.value}}
                                    {{#each config.wound_map as |state|}}
                                    <option value="{{ @key }}">{{ state }}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="wb_information">
                        <div class="wb_information_details">
                            <label for="system.memory.value" class="wb_information_details-label">MEMORY >>></label>
                            <div class="wb_information_details-content">
                                {{editor actor.system.memory.value target="system.memory.value" button=true owner=owner
                                editable=editable}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="troubleshooter_items">
                <div class="troubleshooter_bonus_duties">
                    <div class="troubleshooter_section">
                        <div class="troubleshooter_section_header">
                            <i>///&nbsp;CARDS&nbsp;&nbsp;&nbsp;</i>
                        </div>
                        <div class="troubleshooter_section_name">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;BONUS DUTY >>></b>
                        </div>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "bonus_duty_card")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="64" height="64"/>
                        </div>
                        <h4 class="item-name" data-item-id="{{ item._id }}">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="troubleshooter_mutant_powers">
                    <div class="troubleshooter_section">
                        <div class="troubleshooter_section_header">
                            <i>///&nbsp;CARDS&nbsp;&nbsp;&nbsp;</i>
                        </div>
                        <div class="troubleshooter_section_name">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;MUTANT POWERS >>></b>
                        </div>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "mutant_power_card")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="64" height="64"/>
                        </div>
                        <h4 class="item-name mutant_power" data-item-id="{{ item._id }}">(AO: {{
                            item.system.action_order }})&nbsp;{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="troubleshooter_secret_societies">
                    <div class="troubleshooter_section">
                        <div class="troubleshooter_section_header">
                            <i>///&nbsp;CARDS&nbsp;&nbsp;&nbsp;</i>
                        </div>
                        <div class="troubleshooter_section_name">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;SECRET SOCIETIES >>></b>
                        </div>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "secret_society_card")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="64" height="64"/>
                        </div>
                        <h4 class="item-name" data-item-id="{{ item._id }}">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="troubleshooter_secret_societies">
                    <div class="troubleshooter_section">
                        <div class="troubleshooter_section_header">
                            <i>///&nbsp;CARDS&nbsp;&nbsp;&nbsp;</i>
                        </div>
                        <div class="troubleshooter_section_name">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;ACTION CARDS >>></b>
                        </div>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "action_card")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="64" height="64"/>
                        </div>
                        <h4 class="item-name" data-item-id="{{ item._id }}">(AO: {{ item.system.action_order }})&nbsp;{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
                <div class="troubleshooter_secret_societies">
                    <div class="troubleshooter_section">
                        <div class="troubleshooter_section_header">
                            <i>///&nbsp;CARDS&nbsp;&nbsp;&nbsp;</i>
                        </div>
                        <div class="troubleshooter_section_name">
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;EQUIPMENT >>></b>
                        </div>
                    </div>
                    {{#each items as |item id|}}
                    {{#if (eq item.type "equipment_card")}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="64" height="64"/>
                        </div>
                        <h4 class="item-name" data-item-id="{{ item._id }}">(AO: {{ item.system.action_order }})&nbsp;{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="tab background" data-group="primary" data-tab="background">
            <div class="troubleshooter_section">
                <div class="troubleshooter_section_header">
                    <i>///&nbsp;STORY&nbsp;&nbsp;&nbsp;&nbsp;</i>
                </div>
                <div class="troubleshooter_section_name">
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;BACKGROUND >>></b>
                </div>
            </div>
            <div class="wb_information_details-content">
                {{editor actor.system.background target="system.background" button=true owner=owner
                editable=editable}}
            </div>
        </div>
    </section>
</form>
