<div class="dice-roll">
    <div class="dice-result">
        <div class="dice-formula">
            {{#if this.reroll}}Spent 1 moxie to <b>re-roll</b>{{else}}Rolling{{/if}} <b>{{ this.attr }}</b> with <b>{{ this.skill }}</b>...
            <hr>
            NODE: {{ this.node }}
        </div>
        <div class="dice-tooltip">
            Skill
            {{#each this.roll.pretty as |result|}}
            {{#if (eq result.type "node")}}
            {{#if (eq result.class "success") }}
            <span style="color: green;">{{ result.result }}</span>,
            {{ else }}
            <span>{{ result.result }}</span>,
            {{/if }}
            {{/if}}
            {{#if (eq result.type "negative_node")}}
            {{#if (eq result.class "success") }}
            <span style="color: green;">{{ result.result }}</span>,
            {{ else }}
            <span style="color: red;">{{ result.result }}</span>,
            {{/if}}
            {{/if}}
            {{/each}}
            <hr>
            Computer:
            {{#each this.roll.pretty as |result|}}
            {{#if (eq result.type "computer")}}
            {{#if (eq result.class "result") }}
            <span style="color: red;">{{ result.result }}</span>,
            {{ else }}
            <span style="color: green;">{{ result.result }}</span>,
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
        <h4 class="dice-total">
           {{ this.roll.successes }} successes{{#if this.roll.computer}},&nbsp;<img src=systems/paranoia/images/dice/computer.png>{{/if}}
        </h4>
        {{#if this.reroll}}{{else}}<button type="button" class="reroll" data-node="{{ this.dice.node }}" data-actor_id="{{ this.actor_id }}" data-attr="{{ this.attr }}" data-skill="{{ this.skill }}" data-modifier="{{ this.modifier }}">Spend 1 Moxie to Re-roll</button>{{/if}}
    </div>
</div>