<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flexcol">
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="card_image"/>
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <h4><input name="system.quote" type="text" value="{{item.system.quote}}" placeholder="quote"/></h4>
        </div>
    </header>
    <section class="sheet-body grid grid-2col">
        <div class="action_orders flexrow">
            <div class="action_order_details">
                <label for="system.action_order" class="action_order_details-label">ACTION ORDER</label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="number" name="system.action_order" value="{{item.system.action_order}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="action_order_details">
                <label for="system.reaction" class="action_order_details-label">REACTION</label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="checkbox" name="system.reaction" {{checked item.system.reaction}} data-dtype="Boolean"/>
                </div>
            </div>
        </div>
        <hr>
        <div class="text" data-group="primary">
            {{editor item.system.text target="system.text" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>