<form class="{{cssClass}} paranoia_card" autocomplete="off">
    <header class="sheet-header">
        <div class="card_header">
            <div class="card_image_container">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="card_image"/>
            </div>
            <div class="card_name_container">
                <h1><input class="no_border_input" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
            </div>
            <div class="card_quote_container">
                <h4><input name="system.quote" type="text" value="{{item.system.quote}}" placeholder="quote"/></h4>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="action_orders">
            <div class="action_order_details">
                <label for="system.action_order" class="action_order_details-label"><b>ACTION ORDER</b></label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="number" name="system.action_order" value="{{item.system.action_order}}" min="0"
                           max="10" data-dtype="Number"/>
                </div>
            </div>
            <div class="action_order_details">
                <label for="system.reaction" class="action_order_details-label">REACTION</label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="checkbox" name="system.reaction" {{checked item.system.reaction}}
                           data-dtype="Boolean"/>
                </div>
            </div>
        </div>
        <hr>
        <div class="text" data-group="primary">
            {{editor item.system.text target="system.text" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
