<form class="{{cssClass}} paranoia_card bonus_duty_card" autocomplete="off">
    <header class="sheet-header">
        <div class="bonus_duty_card_header">
            <div class="card_image_container">
                <img src="{{ item.img }}" data-edit="img" title="{{ item.name }}" class="card_image"/>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="bonus_duty_card_stuff_container">
            <div class="card_name_container">
                <h1><input class="no_border_input" name="name" type="text" value="{{ item.name }}" placeholder="Name"/>
                </h1>
            </div>
            {{#if is_gm}}
            <div class="exclude_from_deck">
                <label for="system.exclude_from_deck" class="action_order_details-label">{{ localize "paranoia.items.bonus_duty.exclude" }}</label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="checkbox" name="system.exclude_from_deck" {{checked item.system.exclude_from_deck}}
                           data-dtype="Boolean"/>
                </div>
            </div>
            {{/if}}
            <div class="bonus_duty_card_responsibilities_header"><b>{{ localize "paranoia.items.bonus_duty.responsible" }}:</b></div>
            <div class="text" data-group="primary">
                {{editor item.system.responsibilities target="system.responsibilities" button=true owner=owner
                editable=editable}}
            </div>
        </div>
        <div class="bonus_duty_card_stripe_container">
            <img src=systems/paranoia2017/images/bonus_duty/stripe.png>
        </div>
    </section>
</form>
