<form class="{{cssClass}} paranoia_card" autocomplete="off">
    <header class="sheet-header">
        <div class="equipment_card_header">
            <div class="equipment_card_image_container">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="card_image"/>
            </div>
            <div class="equipment_card_name_container">
                <h1><input class="no_border_input" name="name" type="text" value="{{item.name}}" placeholder="Name"/>
                </h1>
            </div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="equipment_card_body">
            <div class="equipment_card_action_order_container">
                <div class="equipment_card_action_order_dropdown_container">
                    <label class="action_order_details-label"><b>{{ localize "paranoia.items.equipment.action_order" }}</b></label>
                    <div class="equipment_card_action_order_details">
                        <select name="system.bonus.type" class="equipment_card_action_order_dropdown">
                            {{#select item.system.bonus.type}}
                            {{#each bonus.types as |bonus_type|}}
                            <option value="{{ bonus_type }}">{{ bonus_type }}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <select name="system.bonus.name" class="equipment_card_action_order_dropdown">
                        {{#if (eq item.system.bonus.type "skills")}}
                            {{#select item.system.bonus.name}}
                            {{#each bonus.skills as |skill|}}
                            <option value="{{ skill }}">{{ skill }}</option>
                            {{/each}}
                            {{/select}}
                        {{/if}}
                        {{#if (eq item.system.bonus.type "stats")}}
                            {{#select item.system.bonus.name}}
                            {{#each bonus.stats as |stat|}}
                            <option value="{{ stat }}">{{ stat }}</option>
                            {{/each}}
                            {{/select}}
                        {{/if}}
                        </select>
                        &nbsp;+&nbsp;<input class="shrink_input" type="number" name="system.bonus.value"
                                            value="{{item.system.bonus.value}}" min="-10"
                                            max="10" data-dtype="Number"/>
                    </div>
                </div>
                <div class="equipment_card_detail_container">
                    <div class="action_order_details-content flexrow flex-center flex-between">
                        <select name="system.weight" class="white_input">
                            {{#select item.system.weight}}
                            {{#each config.weights as |weight|}}
                            <option value="{{ weight }}">{{ weight }}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="action_order_details-content flexrow flex-center flex-between">
                        <select name="system.level" class="white_input">
                            {{#select item.system.level}}
                            {{#each config.levels as |level|}}
                            <option value="{{ level }}">{{ level }}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
            </div>
            {{#if is_gm}}
            <div class="exclude_from_deck">
                <label for="system.exclude_from_deck" class="action_order_details-label">{{ localize "paranoia.items.equipment.exclude" }}</label>
                <div class="action_order_details-content flexrow flex-center flex-between">
                    <input type="checkbox" name="system.exclude_from_deck" {{checked item.system.exclude_from_deck}}
                           data-dtype="Boolean"/>
                </div>
            </div>
            {{/if}}
            <div class="equipment_card_description_container">
                <div class="text" data-group="primary">
                    {{editor item.system.text target="system.text" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>
