<form class="{{cssClass}} paranoia_card" autocomplete="off">
    <header class="sheet-header">
        <div class="card_header">
            <div class="secret_society_header">
            </div>
        </div>
    </header>
    <section class="sheet-body secret_society_body">
        <div class="secret_society_spacer"></div>
        <div class="secret_society_top">YOU ARE A PART OF THE</div>
        <div class="secret_society_middle">
            <h1><input class="white_input no_border_input" name="name" type="text" value="{{ item.name }}"
                       placeholder="Name"/>
            </h1>
        </div>
        <div class="secret_society_bottom">
            <h4>KEYWORDS: <input class="white_input no_border_input" name="system.keywords" type="text"
                                 value="{{ item.system.keywords }}" placeholder="keywords"/>
            </h4>
        </div>
        <div class="secret_society_details">
            <div class="secret_society_beliefs_container">
                <font color="red">YOUR BELIEFS:</font>
                <div class="text" data-group="primary">
                    {{editor item.system.beliefs target="system.beliefs" button=true editable=editable class=tall}}
                </div>
            </div>
            <div class="card_image_container">
                <img src="{{ item.img }}" data-edit="img" title="{{ item.name }}" class="card_image"/>
            </div>
        </div>
        <div class="secret_society_goals">
            <div>
                <font color="red">YOUR GOALS:</font>
                <div class="text" data-group="primary">
                    {{editor item.system.goals target="system.goals" button=true editable=editable}}
                </div>
            </div>
        </div>
    </section>
    <div class="secret_society_header">
    </div>
</form>
