.npc_sheet {
    background-color: #b2dabf;
    color: white;
}

.paranoia .i_reaction::before {
    content:url("../images/dice/computer.png");
}

#card_manager .close {
    visibility: hidden;
}

.npc_sheet .npc_basic_info {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: 30px;
}

.npc_sheet .npc_basic_info .npc_img {
    height: 200px;
    border: none;
}

.npc_sheet .npc_basic_info .npc_name_input {
    color: white;
}

.npc_sheet .npc_right_column_container {
    flex-grow: 1;
    margin-right: 30px;
}

.npc_sheet .npc_notes_editor {
    overflow: scroll;
}

.npc_sheet .npc_notes_container {
    display: flex;
    flex-direction: column;
    border-left: 5px #3d3c40 solid;
    border-right: 5px #3d3c40 solid;
    border-bottom: 5px #3d3c40 solid;
    height: 160px;
}

.npc_sheet .npc_section_header {
    background-color: #3d3c40;
}

.npc_sheet .npc_health_input {
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.npc_sheet .npc_stats_block {
    display: flex;
}

.npc_sheet .npc_health_container {
    border-left: 5px #3d3c40 solid;
    border-right: 5px #3d3c40 solid;
    border-bottom: 5px #3d3c40 solid;
}

.npc_sheet .sheet-body {
    margin-left: 30px;
    margin-right: 30px;
}

.npc_sheet .npc_equipment_container {
    margin-top: 15px;
}

.troubleshooter_sheet {
    background-color: aliceblue;
    color: #244461;
}

.paranoia_roller_window {
    background-color: aliceblue;
    color: #244461;
}

.troubleshooter_sheet header .tim_flexbox {
    display: flex;
    flex-direction: row;
}

.troubleshooter_sheet .flexbox {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.troubleshooter_sheet header .core_information.tim_flexbox .troubleshooter_identity_form {
    flex-grow: 1;
    height: 275px;
    border: none;
}

.paranoia_card .troubleshooter_items {
    height: 500px;
}

.troubleshooter_sheet header .core_information.tim_flexbox .troubleshooter_img {
    flex-grow: 1;
    height: 275px;
}

.troubleshooter_sheet .troubleshooter_section {
    display: flex;
    flex-direction: row;
    background-color: #7DB8E1;
    color: #244461;
}

.troubleshooter_sheet .troubleshooter_section_header {
    background-color: #244461;
    color: white;
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.troubleshooter_sheet nav.sheet-tabs {
    border: none;
}

.troubleshooter_sheet .sheet-body .skill_information_layout {
    display: flex;
    flex-direction: row;
}

.troubleshooter_sheet .wb_information_details-content {
    display: flex;
    flex-direction: row;
}

.troubleshooter_sheet .core_information_details-content {
    display: flex;
    flex-direction: row;
}

.troubleshooter_sheet .clone_input {
    width: 35px;
}

.of {
    align-self: center;
}

.item-image {
    flex-grow: 1;
}

.item-name {
    flex-grow: 5;
    margin-left: 30px;
}

.item-controls {
    flex-grow: 1;
}

#triangle-right {
    display: block;
    border-top: 7px solid transparent;
    border-left: 15px solid #B44938;
    border-bottom: 7px solid transparent;
}

.troubleshooter_sheet .troubleshooter_header {
    color: #B44938;
    font-size: larger;
}

.paranoia_card .no_border_input {
    border: none;
}

.paranoia_card {
    background-color: aliceblue;
}

.paranoia_card .card_header {
    display: flex;
    flex-direction: column;
}

.card_image_container {
    display: flex;
    height: 250px;
    flex-basis: 250px;
    align-items: stretch;
}

.paranoia_card .card_header .card_image_container .card_image {
    flex-grow: 1;
    border: none;
    height: 300px;
    margin-right: 0px;
}

.paranoia_card .card_header .card_name_container {
    border-top: 5px solid black;
    background-color: #10b0ec;
}

.paranoia_card .card_header .card_quote_container {
    border-bottom: 5px solid black;
    background-color: #10b0ec;
}

.paranoia_card .action_orders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paranoia_card .secret_society_header {
    height: 60px;
    width: 100%;
    background-image: url("../images/secret_society/bg.png");
    background-repeat: repeat-x;
}

.paranoia_card .secret_society_body {
    border-top: 30px solid black;
    border-left: 15px solid black;
    border-bottom: 30px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paranoia_card .secret_society_top {
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.paranoia_card .secret_society_middle {
    background-color: black;
    color: white;
    text-align: center;
}

.paranoia_card .secret_society_bottom {
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.paranoia_card .white_input {
    color: white;
}

.npc_sheet .white_input {
    color: white;
}

.paranoia_card .secret_society_body .secret_society_details {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.paranoia_card .secret_society_body .secret_society_beliefs_container {
    margin-left: 15px;
}

.paranoia_card .secret_society_body .secret_society_beliefs_container .tall {
    height: 300px;
}

.paranoia_card .secret_society_body .secret_society_goals {
    display: flex;
    flex-direction: column;
    height: 120px;
    align-self: stretch;
}

.paranoia_card .secret_society_body .card_image_container {
    display: flex;
    height: 220px;
    flex-basis: 220px;
    justify-content: center;
}

.paranoia_card .secret_society_body .card_image_container .card_image {
    border: none;
    align-self: center;
}

.paranoia_card .mutant_card_header .mutant_card_image_container {
    display: flex;
    height: 300px;
    flex-basis: 250px;
    align-items: stretch;
}

.paranoia_card .mutant_card_header .mutant_card_image_container .card_image {
    flex-grow: 1;
    border: none;
    height: 300px;
    margin-right: 0px;
}

.paranoia_card .mutant_card_header {
    display: flex;
    flex-direction: column;
}

.paranoia_card .mutant_card_header .mutant_card_name_container {
    border-top: 3px solid black;
    background-color: #13a455;
    border-bottom: 3px solid black;
}

.paranoia_card .sheet-body .mutant_card_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paranoia_card .sheet-body .mutant_card_action_order_number {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: center;
}

.paranoia_card .sheet-body .mutant_card_details {
    align-self: stretch;
    margin-left: 5px;
    margin-right: 5px;
}

.paranoia_card .sheet-body .action_order_details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.spacer {
    flex-grow: 1;
}

.paranoia_card .sheet-body .mutant_card_action_input {
    margin-top: 10px;
}

.paranoia_card .sheet-body .mutant_card_action_order_container {
    display: flex;
    flex-direction: row;
    align-self: center;
    font-size: smaller;
}

#triangle-up {
    margin-top: 5px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #13a455;
}

.paranoia_card .equipment_card_header {
    display: flex;
    flex-direction: column;
}

.paranoia_card .equipment_card_header .equipment_card_image_container {
    display: flex;
    height: 300px;
    flex-basis: 250px;
    align-items: stretch;
}

.paranoia_card .equipment_card_header .equipment_card_image_container .card_image {
    flex-grow: 1;
    border: none;
    height: 300px;
    margin-right: 0px;
}

.paranoia_card .equipment_card_header .equipment_card_name_container {
    border-top: 3px solid black;
    background-color: #a0559f;
    border-bottom: 3px solid black;
}

.paranoia_card .equipment_card_body .equipment_card_action_order_container {
    display: flex;
    flex-direction: row;
}

.paranoia_card .equipment_card_body .equipment_card_action_order_dropdown_container {
    margin-top: 15px;
    margin-left: 15px;
    flex-grow: 3;
    padding-bottom: 5px;
    padding-right: 15px;
    border-bottom: 10px black solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paranoia_card .equipment_card_body .equipment_card_action_order_dropdown {
    align-self: center;
}

.paranoia_card .equipment_card_body .shrink_input {
    align-self: center;
}

.paranoia_card .equipment_card_body .equipment_card_detail_container {
    padding-top: 15px;
    flex-grow: 1;
    background-color: black;
    margin-right: 30px;
}

.paranoia_card .equipment_card_body .action_order_details-label {
    font-size: larger;
}

.paranoia_card .equipment_card_body .equipment_card_action_order_details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paranoia_card .equipment_card_body .equipment_card_description_container {
    margin-left: 15px;
    margin-right: 30px;
}

.bonus_duty_card .bonus_duty_card_header {
    height: 375px;
}

.bonus_duty_card .bonus_duty_card_header .card_image {
    margin-left: 20px;
    margin-top: 140px;
    width: 200px;
    height: 200px;
    border: none;
}

.bonus_duty_card .sheet-header .bonus_duty_card_header {
    background-image: url("../images/bonus_duty/header.png");
    background-size: cover;
}

.bonus_duty_card .sheet-body {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
}

.bonus_duty_card .sheet-body .bonus_duty_card_stuff_container {
    margin-right: 30px;
}

.bonus_duty_card .sheet-body .bonus_duty_card_responsibilities_header {
    font-size: larger;
}

.combat_available_cards_container {
    display: flex;
    flex-direction: row;
}

.initiative_row > * {
  width: 50%;
}

.initiative_slot {
    white-space: nowrap;
    width: 50%;
}

.initiative_slot > div {
    display: inline-block;
}

.initiative_slot .initiative_select {
    width: 70px;
}

.initiative_slot .initiative_no_one {
    align-self: center;
}

.initiative_slot .initiative_someone {
    align-self: center;
}

.initiative_slot .challenge_initiative {
    width: 100px;
}

.initiative_button_container {
    display: flex;
}

.paranoia-tooltip-container {
    pointer-events: none;
    background: white;

    position: absolute;
    width: auto;

    padding: 5px;

    border: 2px solid;
    border-radius: 5px;
}

/* TODO: remove this import and include it locally */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
    font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.grid,
.grid-2col {
    display: grid;
    grid-column: span 2/span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 10px 0;
    padding: 0;
}

.grid-3col {
    grid-column: span 3/span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
    grid-column: span 4/span 4;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
    grid-column: span 5/span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
    grid-column: span 6/span 6;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
    grid-column: span 7/span 7;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
    grid-column: span 8/span 8;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
    grid-column: span 9/span 9;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
    grid-column: span 10/span 10;
    grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
    grid-column: span 11/span 11;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
    grid-column: span 12/span 12;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
    grid-column-start: 2;
}

.grid-start-3 {
    grid-column-start: 3;
}

.grid-start-4 {
    grid-column-start: 4;
}

.grid-start-5 {
    grid-column-start: 5;
}

.grid-start-6 {
    grid-column-start: 6;
}

.grid-start-7 {
    grid-column-start: 7;
}

.grid-start-8 {
    grid-column-start: 8;
}

.grid-start-9 {
    grid-column-start: 9;
}

.grid-start-10 {
    grid-column-start: 10;
}

.grid-start-11 {
    grid-column-start: 11;
}

.grid-start-12 {
    grid-column-start: 12;
}

.grid-span-2 {
    grid-column-end: span 2;
}

.grid-span-3 {
    grid-column-end: span 3;
}

.grid-span-4 {
    grid-column-end: span 4;
}

.grid-span-5 {
    grid-column-end: span 5;
}

.grid-span-6 {
    grid-column-end: span 6;
}

.grid-span-7 {
    grid-column-end: span 7;
}

.grid-span-8 {
    grid-column-end: span 8;
}

.grid-span-9 {
    grid-column-end: span 9;
}

.grid-span-10 {
    grid-column-end: span 10;
}

.grid-span-11 {
    grid-column-end: span 11;
}

.grid-span-12 {
    grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.flex-group-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.flex-group-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.flexshrink {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexlarge {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.align-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.align-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

